<h1> Rules Page</h1>

<p>
    <h3>Resources</h3>
    <br>
    <li>Each team member should bring a notebook computer on which they will prepare and test their solutions. </li>
    <li>You may access the internet during the contest. However, any code or designs you submit should be your own. </li>
    <li>GGC wireless capability will be provided for each team.</li>
    <li>Each team will have a table for working together on their solution.</li>
    <li>You may use any written or printed material that you have brought to the competition. No audible audio will be allowed.</li>
    <li>During the contest, contestants are not to converse with anyone except members of their team and judges. For this reason, cell phones should be turned off and not accessed at all during this time.</li>
    <li>No server space will be provided.</li>

    <br>
    <br>

    <h3>Permitted Development Tols</h3>
    <br>
    Teams can use any technology they want for completing their website design and other materials.
    However, they must be able to submit an URL that posts to their site that can be run from
    any browser. For instance, do not assume that the judges will have Dreamweaver installed
    and be able to run your site locally.
    <br>
    <br>

    <h3>Prohibited Content</h3>
    <br>
    Each website cannot contain material deemed objectionable to the GGC community.
    (e.g. no pornography, profanity, or references to alcohol, tobacco, or drugs)
    <br>
    <br>

    <h3>Competition Format</h3>
    <br>
    Four Hour Team Time
    <br>
    <li>On the day of the competition, each team will be provided with the same problem statement.</li>
    <li>Teams will work on the problem statement for four hours.</li>
    <li>Teams will also work on the development of a 5-7 minute presentation.</li>
    <li>No changes to the website or presentation can be made after the team time is over.</li>
    <li>You may request clarifications of the problem statement. There should not be frivolous
    questions or questions that try to get hints for a solution</li>
    <li>Team presentation time: at least one member must present. Failure to present will
    disqualify a team from winning</li>
    <br>
    <br>

    <h3>Judging and Scoring</h3>
    <br>
    The competition will recognize the team with the highest scoring submission to be the winner.
    All decisions of the contest officials are final.
</p>
